{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'main/index.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header_container">
        <div class="icon-container">
            <a href="{% url 'index' %}">OFFER-KZ</a>
        </div>
        <div class="nav-container">
            <div class="nav-half"></div>
            <div class="nav-li">
                <div class="ul-part">
                    <ul>
                        <li><a>Выполнять задания</a></li>
                        <li><a href="{% url 'upload' %}" style="text-decoration: none; color: #333333">Загрузить задание</a></li>
                    </ul>
                </div>
                <div class="button-part">
                    <a href="{% url 'login' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
 {% block content %}
    {% endblock %}
</body>
<script src="{% static "main/main.js" %}"></script>
</html>