{% extends 'form/accountForm.html' %}
{% block interact %}
<div class="user-interact-content-container">
    <div class="edit-page-bounce">
        <ul>
            <li><a href="{% url 'edit' user.username %}" class="a-not-active">Редактировать профиль</a></li>
            <li><a href="" class="a-active">Поменять пароль</a></li>
            <li><a href="{% url 'avatar' user.username %}" class="a-not-active">Поменять аватар</a></li>
        </ul>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="change-password-container">
            <div class="change-password-form-container">
                <div class="label-change-password">
                    <div class="label-text">
                        {{ form.old_password.label }}
                    </div>
                </div>
                <div class="input-change-password">
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
            </div>
            <div class="change-password-form-container">
                <div class="label-change-password">
                     <div class="label-text">
                        {{ form.new_password1.label }}
                    </div>
                </div>
                <div class="input-change-password">
                    {{ form.new_password1 }}
                    {{ form.new_password2.errors }}
                </div>
            </div>
            <div class="change-password-form-container">
                <div class="label-change-password">
                     <div class="label-text">
                       Повторите пароль
                    </div>
                </div>
                <div class="input-change-password">
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="change-password-button-container">
                <div class="change-password-button-content-container">
                    <button type="submit">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}