{% extends "form/layout.html" %}
{% block title %}OFFER-KZ{% endblock %}
{% block content %}
    {% load static %}
    <div class="header-desc">
        <div class="header-top"></div>
        <div class="header-middle">
            <div class="header-padding">
                <div class="header-content-photo">
                    <img src="{% static 'photos/indexPhoto1.jpeg' %}">
                    <div class="header-content-photo-dark"></div>
                </div>
                <div class="header-content-text">
                     <div class="header-content-text-container">
                        <div class="header-content-text-title">
                            <h1>OFFER-KZ</h1>
                        </div>
                        <div class="slogan">
                            Ищи ответы
                        </div>
                         <div class="slogan">
                            Выполняйте задания
                        </div>
                         <div class="slogan">
                            Зарабатывайте
                        </div>
                        <div class="know-more-info">
                            <a id="scroller" href="">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-block">
        <div class="middle-block-content">
            <div class="middle-block-content-img">
                <img src="{% static 'photos/indexPhoto2.png' %}">
            </div>
            <div class="middle-block-content-container">
                <div class="content-box">
                    <div class="text-about-us-title">
                            <p>Коротко про нас</p>
                    </div>
                    <div class="text-about-us">
                        <p>Мы — онлайн-платформа, где студенты помогают друг другу: кто-то выставляет задания за оплату, а кто-то их выполняет, зарабатывая деньги. Это удобное решение для тех, кто ищет поддержку в учебе или хочет монетизировать свои навыки. Учись, зарабатывай, помогай! Вместе мы создаем сообщество, где каждый может достигать своих целей.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-second">
        <div class="middle-second-container">
            <div class="middle-second-text">
                <div class="middle-second-text-padding"></div>
                <div class="middle-second-text-content">
                    <div class="h">
                        <h1>OFFER-KZ</h1>
                    </div>
                    <div class="p">В чем преимущества нашего сервиса?</div>
                </div>
            </div>
            <div class="middle-second-cards">
                <div class="desc-cards">
                        <div class="icon">
                            <div class="circle"><i style="color: white; font-size: 24px;font-weight: bold" class="bi bi-check-lg"></i></div>
                        </div>
                        <div class="text">
                            <h1>Гарантия честности</h1>
                        </div>
                        <div class="description">
                            <p>Наш сайт обеспечивает честные условия сотрудничества. Оплата за услуги производится только после полного подтверждения клиентом. Это гарантирует, что вы платите исключительно за качественно выполненную работу.
                            </p>
                        </div>
                </div>
                <div class="desc-cards">
                        <div class="icon">
                            <div class="circle"><i style="color: white; font-size: 24px;font-weight: bold" class="bi bi-chat-fill"></i></div>
                        </div>
                        <div class="text">
                            <h1>Служба поддержки</h1>
                        </div>
                        <div class="description">
                            <p>Наша служба поддержки всегда готова помочь вам! Мы ценим каждого клиента и стремимся сделать ваш опыт на нашем сайте максимально комфортным.
                            </p>
                        </div>
                </div>
                <div class="desc-cards">
                        <div class="icon">
                            <div class="circle"><i style="color: white; font-size: 24px;font-weight: bold" class="bi bi-currency-dollar"></i></div>
                        </div>
                        <div class="text">
                            <h1>Способы перевода</h1>
                        </div>
                        <div class="description">
                            <p>Мы поддерживаем различные платежные системы, чтобы вам было удобно выбрать подходящий способ вывода.Все транзакции проходят с соблюдением высоких стандартов защиты ваших данных.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="px50_padding"></div>
            <div class="footer-container-content">
                <div class="footer-faq">
                    <div class="faq-text">
                        <h1>FAQ</h1>
                    </div>
                    <div class="faq-box">
                        <div class="visible_part">
                            <div class="text-side">
                                <h1>Какие методы пополнения балланса существуют?</h1>
                            </div>
                            <div class="span-side">
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="hidden_part">
                            <p1>
                        На сайте предусмотрены различные способы пополнения баланса.Банковские карты: Пополнение через кредитные или дебетовые карты Visa, Mastercard.(Коммиссия 1%)
                            </p1>
                        </div>
                    </div>
                     <div class="faq-box">
                        <div class="visible_part">
                            <div class="text-side">
                                <h1>Какие методы вывода существуют на сайте?</h1>
                            </div>
                            <div class="span-side">
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="hidden_part">
                            <p1>На сайте предусмотрены различные методы вывода средств.

                                 Банковские карты
                            Вывод на кредитные или дебетовые карты Visa, Mastercard.
                            Возможны комиссии(2%) и ограничения на минимальную или максимальную сумму.</p1>
                                                    </div>
                    </div>
                     <div class="faq-box">
                        <div class="visible_part">
                            <div class="text-side">
                                <h1>Как избежать мошенничества?</h1>
                            </div>
                            <div class="span-side">
                                <span class="plus">+</span>
                            </div>
                        </div>
                        <div class="hidden_part">
                            <p1>Соблюдайте базовые правила безопастности. Не передавайте личные данные (паспорт, банковские реквизиты, пароли) незнакомым людям. Ни в коем случае не переходите на сторонние ссылки,совершайте сделки только внутри нашего сайта. </p1>
                        </div>
                    </div>
                </div>
                <div class="footer-nav">
                    <div class="nav-first-half">
                        <ul>
                            <li class="main">Полезные ссылки</li>
                            <li><a class="a_ul" href="{% url 'register' %}" style="color: #d5d1d1;text-decoration: none">регистрация</a></li>
                            <li><a href="{% url 'login' %}"style="color: #d5d1d1;text-decoration: none">Авторизация</a></li>
                            <li class="main">Legal</li>
                            <li>Соглашение(ИП)</li>
                            <li>Политика конфиденциальности</li>
                            <li>Контакты</li>
                        </ul>
                    </div>
                    <div class="nav-second-half">
                        <ul>
                            <li class="main">Socal media</li>
                            <li>Instagram</li>
                            <li>App IOS</li>
                            <li>App Android</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px50_padding">
                
            </div>
        </div>
    </div>
{% endblock %}